@model ASPNETCoreRuntimeCompilation.Features.FeatureA.FeatureAViewModel

<h1>Feature A</h1>
<p>@Model.Message</p>

@Html.TextBoxFor(x => x.InputText)

@await Html.PartialAsync("PartialView", Model.SubViewModel)
